# dependencies
node_modules
**/node_modules

# builds
dist
build
**/dist
**/build
.next
.turbo

# environment variables
.env
.env.*
!.env.example

# prisma
apps/backend/prisma/migrations/dev.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editors/OS
.vscode
.idea
.DS_Store
Thumbs.db